.tw-followCard {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
  justify-content: space-between;
}

.tw-follorCard-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-infoUsername {
  opacity: 0.6;
}

.tw-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-followCard-button {
  margin-left: 32px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #111;
  transition: 0.3s ease;
  background-color: #fff;
  min-width: 100px;
}

.tw-followCard-button.enable-hover:hover {
  background-color: #111;
  color: #fff;
  border: 1px solid #fff;
}

.tw-followCard-button.is-following {
  background-color: #111;
  color: #fff;
  border: 1px solid #fff;
}

.tw-followCard-button.is-following:hover {
  background-color: #ff00001a;
  color: red;
  border: 1px solid red;
  transition: 0.3s ease;
}

.tw-followCard-button-following {
  display: block;
}

.tw-followCard-button.is-following:hover .tw-followCard-button-following {
  display: none;
}

.tw-followCard-button-unfollow {
  display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-button-unfollow {
  display: block;
}

.tw-followCard-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
